<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <<script src="/js/key.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>


    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Account</a></li>
          <li><a href="/sessions/logout">Logout</a></li>
        </ul>
      </div>
    </nav>


    <div class="main-container">
      <div class="border-container">
        <h1>Beer and Food Pairing</h1>

        <div class="input-field col s6">
          <input placeholder="beer name / type" id="beer-search-textbox" type="text" class="validate">
          <label for="beer-search"></label>
        </div>
        <div class="last-search-result">
          this is where last search will go
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Search</button>

      </div>

      <div class="beer-search-results">
        <ul>
        </ul>
      </div>
    </div>



  </body>




</html>
