<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>
  </head>


  <body>
  <div class="main-container">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img class="beer-logo" src="https://cdn.shopify.com/s/files/1/1378/6333/collections/beer_grande.png?v=1468119341" /></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#"><i class="small material-icons teal-text">star</i></a></li>
          <li><a href="/sessions/edit"><i class="small material-icons teal-text">settings</i></a></li>
          <li><a class="teal-text" href="/sessions/logout">Logout</a></li>
        </ul>
      </div>
    </nav>


    <h1>Beer and Food Pairing</h1>
    <div class="container">
      <div class="row">
        <div class="input-field col s4">
          <select class="selected-beer-category">
            <option value="" disabled selected>Choose your beer type</option>
            <option value="British Ale">British Ale</option>
            <option value="Irish Ale">Irish Ale</option>
            <option value="North American Ale">North American Ale</option>
            <option value="German Ale">German Ale</option>
            <option value="Belgian and French Ale">Belgian and French Ale</option>
            <option value="German Lager">German Lager</option>
            <option value="North American Lager">North American Lager</option>
            <option value="Other Lager">Other Lager</option>
            <option value="International Lager">International Lager</option>
            <option value="Other Style">Other Style</option>
          </select>
        </div>

        <div>
          <button id="search-beer-btn" class="btn waves-effect waves-light" type="submit" name="action">Search</button>
        </div>
      </div>
    </div>



    <div class="beer-search-results col s5 offset-s1">
      <ul class="beer-listing">
      </ul>
    </div>

  </div>
  </body>




</html>
