<!doctype html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main-container">
      <div class="border-container">
        <h1>Super Secure Website</h1>
        <br>
        <div class="col-lg-6 center-block">
          <div class="alert alert-dismissible alert-warning">
            <h4>Welcome {{email}}!</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam tellus vitae nulla tristique, quis laoreet nulla fringilla.</p>
          </div>
          <blockquote class="blockquote-reverse">
            <p>"If debugging is the process of removing software bugs,
            then programming must be the process of putting them in."</p>
            <small>Edsger Dijkstra</cite></small>
          </blockquote>
          <a href="/sessions/logout">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>
