<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- <script src="/js/key.js"></script> -->
    <script src="/js/script.js"></script>
  </head>


  <body>
  <div class="main-container">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img class="beer-logo" src="https://cdn.shopify.com/s/files/1/1378/6333/collections/beer_grande.png?v=1468119341" /></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/sessions/account"><i class="material-icons">settings</i></a></li>
          <li><a href="/sessions/logout">Logout</a></li>
        </ul>
      </div>
    </nav>


    <h1>Beer and Food Pairing</h1>
    <div class="container">
      <div class="row">

        <div class="whole-card col s5 offset-s1">
          <div class="card-panel light-grey darken-1">
            <div class="card-content white text">
              {{#beerInfo}}
              <h5>{{name}}</h5>
              <ul>
                <li>{{category}}</li>
                <li>{{brewery}} Brewery</li>
                <li>{{country}}</li><br/>
                <li>Flavor Profile: {{flavors}}</li>
              </ul>
            </div>
            <div class="card-action">
              <a id="deletebeer" data-id={{id}} href="#">Delete</a>
            </div>
              {{/beerInfo}}
          </div>
        </div>

        <div class="whole-card col s5">
          <div class="card-panel light-grey darken-1">
            <div class="card-content white text">
            <ul>
            {{#foodInfo}}
              <li>{{name}}</li>
              <li>{{vicinity}}</li><br/>
            {{/foodInfo}}
            </ul>
            </div>
          </div>
        </div>

      </div>
    </div>





  </div>
  </body>




</html>
