<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="/js/key.js"></script>
    <script src="/js/script.js"></script>
  </head>


  <body>
  <div class="main-container">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Account</a></li>
          <li><a href="/sessions/logout">Logout</a></li>
        </ul>
      </div>
    </nav>


    <h1>Beer and Food Pairing</h1>
    <div class="container">
      <div class="row">

        <div class="whole-card col s5 offset-s1">
          <div class="card-panel light-grey darken-1">
            <div class="card-content white text">
              {{#beerInfo}}
              <p>{{name}} -- {{country}}</p>
            </div>
            <div class="card-action">
              <a id="deletebeer" data-id={{id}} href="#">Delete</a>
            </div>
              {{/beerInfo}}
          </div>
        </div>

        <div class="google-places-results col s5">
          {{#foodInfo}}
          <p>{{name}}</p>
          {{/foodInfo}}
        </div>

      </div>
    </div>





  </div>
  </body>




</html>
