.main-container {
  width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.center-block {
  float: none
}

#search-beer-btn {
  margin-top: 15px;
}

.beer-listing {
  padding-left: 10%;
}

.beer-logo {
  height: 50px;
  margin: 6px;
}

body {
  color: #2c3e50;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav {
  background-color:  #ecf0f1;
}


